body
{
    margin-left: auto;
}
.container-self
{
    margin: 0 auto;
    margin-top: 90px !important;
    width: 960px;
    height: 350px !important;
}
.container-topic
{
    margin: 0 60px -6px 0;
    float: left;
}
.photo
{
    width: 330px;
    height: 350px;
}
.topic
{
    width: 326px;
    margin-right: 60px;
    margin-left: 4px;
}
.clear-html
{
    clear: both;
}
.container-main
{
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.topic-photo {
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: "Open Sans", serif;
    font-weight: 600;
    letter-spacing: 0;

    margin-top: 45px;
    margin-bottom: 10px;
}
.list
{
    padding-left: 21px !important;
    padding-bottom: 0;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 20px;
    color: #555555;
    font-family: "Georgia", serif;
}
.list-second
{
    padding-left: 20px !important;
    font-size: 19px;
    line-height: 22px;
    color: #555555;
    font-family: "Georgia", serif;
}
li
{
    margin-bottom: 0.7em;
}
.container-quote
{
    margin: 50px 0 0 0;
    float: left;
    width: 560px;
}
.points
{
    width: 65px;
    height: 80px;
}
blockquote
{
    margin: -13px 60px 25px 61px;
}
blockquote {
    margin: -14px 66px 25px 62px;
    color: rgb(156, 156, 156);
}
blockquote.dline {
    width: 560px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-family: "Georgia", serif;
    font-style: italic;
}
blockquote.dline
{
    line-height: 1.5;
}
.who {
    margin: -27px 66px 100px 64px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 0;

    color: #333333;
    font-family: "Open Sans", serif;
}
.container-text {
    margin: 45px 0 0 0;
    float: left;
    width: 560px;
}
h1
{
    margin-left: 8px;
    margin-top: auto;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 46px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 700 !important;
}
.line
{
    display: flex;
    margin-left: 1px;
    margin-top: 31px;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}
.story-first
{
    margin-top: 44px;
    margin-left: 2px;
}
.story-second
{
    margin-left: 2px;
    margin-top: 18px;

}
.story
{
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia", serif;
}
.hobby
{
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 42px;
    font-weight: 700;
    color: #333333;
    font-family: "Open Sans", serif;
}
.line {
    margin-top: 20px;
    width: 60px;
    height: 6px;
    position: absolute;
    border-radius: 3px;
    background-color: #45c3aa;
}
.story-first {
    margin-top: 80px;
}
.story {
    margin-bottom: 41px;

    line-height: 32px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-size: 19px;
    color: #555555;
}
.hobby {
    margin-bottom: -3px;
    margin-left: -3px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 400;
}
.write-me
{
    padding-bottom: 135px;

    margin-left: 2px;
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 31px;
    color: #15a98b;
    font-family: "Georgia", serif;
}
.last
{
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia", serif;
}
.spec-symbol {
    color: rgb(0, 143, 168);
}