body
{
    margin: auto;
}

.css_adaptive
{
    max-width: 100%;
    height: auto;
}

.header
{
    margin: 0 auto auto 480px;
    width: 960px;
}

.header_about
{
    width: 140px;
    height: 50px;
    background-color: #15a98c;
    display: inline-block;
}

.header_about::before
{
    margin-left: 20px;
    margin-right: 10px;
    content: url('../images/about_me_icon.png');
    filter: brightness(0) invert(1);
}

.header_hobby
{
    display: inline-block;
    width: 140px;
}

.header_hobby::before
{
    margin-top: auto;
    margin-left: 17px;
    margin-right: 10px;
    content: url('../images/hobby_icon.png');
}

.header_films
{
    display: inline-block;
    width: 230px;
    margin-left: 14px;
}

.header_films::before
{
    margin-left: 20px;
    margin-right: 10px;
    content: url('../images/video_icon.png');
}

.header_text_about
{
    font-size: 19px;
    line-height: 50px;
    color: #f5f5f5;
    font-family: "Georgia", serif;
}

.header_text
{
    font-size: 19px;
    font-family: "Georgia", serif;
    line-height: 50px;
    background-color: white;
    color: black;
    display: inline-block;
}

.self_background
{
    height: 400px;
}

.self
{
    display: flex;
    margin: -194px auto auto 480px;
    width: 960px;
    height: 350px ;
}

.container_topic
{
    margin: 0 60px -6px 0;
    float: left;
}

.photo 
{
    border-radius: 5px;
    width: 330px;
    height: 350px;
}

.topic
{
    width: 330px;
    margin-right: 160px;
    margin-left: 4px;
    float: left;
}

.main
{
    display: flex;
    width: 960px;
    margin: 0 auto;
}

.topic_photo {
    margin-left: 3px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #15a98c;
    font-family: "Open Sans", serif;
    font-weight: 600;

    margin-top: 45px;
    margin-bottom: 10px;
}

.list 
{
    padding-left: 29px;
    padding-bottom: 0;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 20px;
    color: #555555;
    font-family: "Georgia", serif;
}

.list_second
{
    padding-left: 23px;
    font-size: 19px;
    line-height: 22px;
    color: #555555;
    font-family: "Georgia", serif;
}

li
{
    margin-bottom: 0.7em;
}

.quote
{
    margin: 50px 0 0 60px;
    float: left;
    width: 560px;
}

.points 
{
    width: 65px;
    height: 80px;
}

blockquote
{
    margin: -25px 66px 25px 3px;
    width: 560px;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Georgia", serif;
    font-style: italic;
}


.who
{
    margin: -23px 66px 100px 6px;
    font-size: 16px;
    letter-spacing: 0.001em;
    line-height: 42px;
    color: #f5f5f5;
    font-family: "Open Sans", serif;
    font-weight: 600;
}

.text
{
    margin-top: -115px;
    margin-left: -96px;
}

h1 
{
    margin: auto 0 10px 4px;
    letter-spacing: 0.0001em;
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", Extra-Bold, serif;
}

.story 
{
    line-height: 1.69;
    font-size: 19px;
    color: #555555;
    font-family: "Georgia", serif;
}

.story_first
{
    margin-bottom: 40px;
    margin-top: 80px;
}

.hobby
{
    margin: 42px 0 5px -2px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.story_second
{
    margin-top: 15px;
    margin-bottom: 41px;
}

.line
{
    margin-top: 20px;
    width: 58px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
    background-color: #45c3aa;
}

.write_me
{
    margin-left: 0;
    font-size: 19px;
    line-height: 31px;
    color: #15a98b;
    font-family: "Georgia", serif;
    text-decoration: none;
}

.write_me::after
{
    content: " →";
    color: rgb(0, 143, 168);
    border: 0;
}

.write_me_line
{
    position: relative;
    top: -13px;
    left: -220px;
    width: 113px;
    background-color: #15a98b;
}


.favorite_films
{
    margin: -20px auto auto 360px;
    width: 1200px;
}

.topic_favorite_films
{
    margin-top: 96px;

    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.card
{
    margin: -2px 16px 0 0;
    width: 285px;
    display: inline-block;
    vertical-align: top;
}

.film_photo
{
    width: 285px;
    height: 190px;
    border-radius: 4px;
}

.film_topic
{
    margin-top: 18px;

    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 700;
}

.film_text
{
    margin-top: -3px;

    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia", serif;
}

.one_plus_one
{
    margin-top: -2px;
    width: 285px;
    display: inline-block;
    vertical-align: top;
}

.btn
{
    margin: 8px auto auto 480px;
    width: 220px;
    height: 50px;
    background-color: #15a98c;
    text-align: center;
    border-radius: 5px;
    border: 0;

    font-size: 19px;
    line-height: 50px;
    color: #f5f5f5;
    font-family: "Georgia", sans-serif;
}

.footer
{
    margin-top: 72px;
    height: 70px;

    text-align: center;
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 68px;
    color: #555555;
    font-family: "Georgia", sans-serif;
}

