body
{
    margin: auto;
}
.css-adaptive {
    max-width: 100%;
    height: auto;
}
.icon-black
{
    color: black !important;
    float: left !important;
    margin: 12px 8px 0 14px !important;
}
.icon-white
{
    color: white !important;
    float: left !important;
    margin: 12px 8px 0 14px !important;
}
.text-header-black
{
    color: black !important;
}
.header
{
    margin: 0 auto;
    width: 960px;
}
.header-about
{
    width: 140px;
    height: 50px;
    background-color: #15a98c;
    display: inline-block;

}
.header-hobby
{
    display: inline-block;
    width: 140px;
    margin-left: -1px;
}
.header-films
{
    display: inline-block;
    width: 230px;
    margin-left: 15px;
}
.header-films:after
{
    display: block;
    clear: both;
}

.header-about-text
{
    font-size: 19px;
    line-height: 50px;
    color: #f5f5f5;
    font-family: "Georgia", serif;
    margin-left: 10px !important;
}
.self-background
{
    z-index: -1;
}
.container-self 
{
    position: relative;
    margin: 0 auto;
    margin-top: -210px !important;
    width: 960px;
    height: 350px !important;
    z-index: 10 !important;

}
.container-topic 
{
    margin: 0 60px -6px 0;
    float: left;
}
.photo 
{
    width: 330px;
    height: 350px;
    display: block;
}
.topic 
{
    width: 326px;
    margin-right: 160px;
    margin-left: 4px;
    float: left;
}
.clear-html 
{
    clear: both;
}
.container-main
{
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.topic-photo {
    margin-left: -2px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #15a98c;
    font-family: "Open Sans", serif;
    font-weight: 600;

    margin-top: 45px;
    margin-bottom: 10px;
}
.list 
{
    padding-left: 21px !important;
    padding-bottom: 0;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 20px;
    color: #555555;
    font-family: "Georgia", serif;
}
.list-second 
{
    padding-left: 20px !important;
    font-size: 19px;
    line-height: 22px;
    color: #555555;
    font-family: "Georgia", serif;
}
li
{
    margin-bottom: 0.7em;
}
.container-quote 
{
    margin: 50px  0 0;
    float: left;
    width: 560px;
}
.points 
{
    width: 65px;
    height: 80px;  
}
blockquote {
    margin: -24px 66px 25px 0;
    color: rgb(156, 156, 156);
}
blockquote.dline {
    margin-left: 3px;
    width: 560px;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Georgia", serif;
    font-style: italic;
}
.who {
    margin: -24px 66px 100px 7px;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 42px;
    color: #f5f5f5;
    font-family: "Open Sans", serif;
    font-weight: 600;
}
.container-text
{
    float: right;
    margin-top: -115px;
    margin-left: -100px;
}
h1 
{
    margin-left: 8px;
    margin-top: auto;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 46px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 700 !important;
}
.line 
{
    display: flex;
    margin-left: 1px;
    margin-top: 31px;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}
.story-first 
{
    margin-top: 44px;
    margin-left: 2px;
}
.story-second 
{
    margin-left: 2px;
    margin-top: 18px;

}
.story 
{
    margin-bottom: 40px;

    line-height: 1.7;
    font-size: 19px;
    color: #555555;
    font-family: "Georgia", serif;
}
.hobby 
{
    font-weight: 700;
    color: #333333;
    font-family: "Open Sans", serif;
}
.line {
    margin-top: 20px;
    width: 60px;
    height: 6px;
    position: absolute;
    border-radius: 3px;
    background-color: #45c3aa;
}
.story-first {
    margin-top: 80px;
}
.story {
    margin-bottom: 41px;

    line-height: 32px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-size: 19px;
    color: #555555;
}
.hobby {
    margin-bottom: -3px;
    margin-left: -3px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 400;
}
.write-me 
{
    padding-bottom: 135px;

    margin-left: 2px;
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 31px;
    color: #15a98b;
    font-family: "Georgia", serif;
}
.last 
{
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia", serif;
}
.spec-symbol
{
    color: rgb(0, 143, 168);
}
.container-favorite-films
{
    margin: 0 auto;
    width: 1200px;

}
.topic-favorite-films
{
    margin-top: 96px;

    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 400;
}
.card
{
    margin-top: -2px;
    margin-right: 16px;
    width: 285px;
    display: inline-block;
    vertical-align: top;
}
.film-photo
{
    width: 285px;
    height: 192px;
}
.film-topic
{
    margin-top: 16px;

    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans", serif;
    font-weight: 700;
}
.film-text
{
    margin-top: 16px;

    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia", serif;
}
.one-plus-one{
    margin-top: -2px;
    width: 285px;
    display: inline-block;
    vertical-align: top;
}
.btn
{
    margin: 28px auto auto 480px;
    width: 220px;
    height: 50px;
    background-color: #15a98c;
    text-align: center;
    border-radius: 5px;

    font-size: 19px;
    line-height: 50px;
    color: #f5f5f5;
    font-family: "Georgia", sans-serif;
}
.footer
{
    margin-top: 70px;
    height: 60px;

    text-align: center;
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 68px;
    color: #555555;
    font-family: "Georgia", sans-serif;
}

