body {
    margin-left: 1px;
}
.container-main {
    margin: 100px 460px 0px 460px;
    height: 350px;
}
.container-topic {
    margin: 0px 60px 50px 20px;
    float: left;
}
.photo {
    width: 330px;
    height: 350px;
}
.topic-photo {
    font-size: 25px;
    line-height: 32px;
    color: #15a98c;
    font-family: "Open Sans";
    font-weight: 600;
}
.topic-photo-first {
    margin-top: 40px;
}
.topic-photo-second {
    margin-top: 50px;
}
.list-first {
    padding-left: 21px !important;
    line-height: 21px;
    font-family: "Georgia";
    font-size: 19px;
    color: #555555;

}
.list-second {
    padding-left: 20px !important;
    font-size: 19px;
    line-height: 20px;
    color: #555555;
    font-family: "Georgia";
}
li, ol {
    margin-bottom: 0.7em;
}
.container-quote {
    margin: 50px 0px 0px 0px;
    float: left;
    width: 560px;
}
.points {
    width: 65px;
    height: 80px;  
}
blockquote {
    margin: -15px 66px 25px 60px;
    color: rgb(156, 156, 156);
}
blockquote.dline {
    width: 560px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-family: "Georgia";
    font-style: italic;
}
.who {
    margin: -27px 66px 100px 62px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 0.4px;

    color: #333333;
    font-family: "Open Sans";
}
.container-text {
    margin: 45px 0px 0px 0px;
    float: left;
    width: 560px;
}
h1 {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 4px;
    font-size: 48px;
    line-height: 42px;
    font-weight: 700;
    color: #333333;
    font-family: "Open Sans";
}
.line {
    width: 60px;
    height: 6px;
    position: absolute;
    border-radius: 3px;
    background-color: #45c3aa;
}
.story-first {
    margin-top: 80px;
}
.story {
    margin-bottom: 41px;

    line-height: 32px;
    font-family: "Georgia";
    font-style: normal;
    font-size: 19px;
    color: #555555;
}
.hobby {
    margin-bottom: -3px;
    margin-left: -3px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400;
}
.write-me {
    padding-bottom: 135px;

    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia";
}
.spec-symbol {
    color: rgb(0, 143, 168);
}
