body {
    margin-left: 1px;
}
.container-main {
    margin: 100px 460px 0px 460px;
    height: 350px;
}
.container-topic {
    margin: 0px 60px 50px 20px;
    float: left;
}
.photo {
    width: 330px;
    height: 350px;
}
.topic-photo {
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: rgb(0, 143, 168);
}
.list {
    padding-left: 20px !important;
    padding-bottom: 40px;
    line-height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: rgb(110, 110, 110);
}
li, ol {
    margin-bottom: 0.7em;
}
.container-quote {
    margin: 50px 22px 0px 0px;
    float: left;
    height: 300px;
}
.points {
    width: 65px;
    height: 80px;  
}
blockquote {
    margin: 0px 66px 25px 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;

    color: rgb(156, 156, 156);
}
blockquote.dline {
    line-height: 1.5;
}
.who {
    margin: 0px 66px 120px 60px;
    font-family: 'Roboto';
    font-size: 25px; 
}
.container-text {
    margin: 45px 22px 0px 0px;
    float: left;
}
h1 {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 60px;
    font-family: 'Roboto';
    font-style: normal;
}
.line {
    width: 60px;
    position: absolute;
    height: 4px;
    background-color: rgb(0, 143, 168);
}
.story-first {
    margin-top: 70px;
}
.story {
    margin-bottom: 55px;

    line-height: 1.7;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: rgb(83, 83, 83);
}
.hobby {
    margin-bottom: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    color: rgb(0, 0, 0);
}
.write-me {
    padding-bottom: 135px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 143, 168);
}
.last {
    color: rgb(0, 143, 168);
}
